<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ql.mvc.dao.MyUserDao" >
  <resultMap id="BaseResultMap" type="com.ql.mvc.pojo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR"/>
    <result column="phone" property="phone" jdbcType="VARCHAR"/>
    <result column="username" property="username" jdbcType="VARCHAR"/>
    <result column="icon" property="icon" jdbcType="VARCHAR"/>
    <result column="money" property="money" jdbcType="INTEGER"/>
    <result column="score" property="score" jdbcType="INTEGER"/>
    <result column="sex" property="sex" jdbcType="VARCHAR"/>
  </resultMap>
 
 <sql id="Base_Column">
 	id,account,email,phone,username,icon,money,level,score,sex
 </sql>
 <insert id="addUserOfAccountAndPw" parameterType="com.ql.mvc.pojo.User">
 	insert into _user (account,password)
 	values (#{account,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
 </insert>
 
 <select id="queryUser" parameterType="com.ql.mvc.pojo.User" resultMap="BaseResultMap">
 	select 
 	<include refid="Base_Column"/>
 	from _user 
 	<include refid="where"/>
 	
 	
 </select>
 <sql id="where">
 	<where>
 		AND password =#{password,jdbcType=VARCHAR}
 		AND account = #{account,jdbcType=VARCHAR}
 	</where>
 </sql>

</mapper>